[2017-03-09 06:22] houqp opened #39 "out of band notification not working for phone call"
Our webhook expects a message id to get application for response content. We should change that to just return the content when message id is None.

[2017-03-09 20:54] houqp opened #40 "drop template_id column in plan_notification table"
Since it's not in use anymore.

[2017-03-09 22:51] #40 closed

[2017-03-09 23:48] #39 closed

[2017-03-13 15:37] houqp opened #48 "got json error sms reply from claim all command when there is no active incident"

[2017-03-13 17:19] jrgp commented on #48
Interesting. I'll take a look.

[2017-03-13 20:16] #48 closed

[2017-03-15 21:37] houqp opened #58 "refactor metrics module"
We should keep state in metrics module instead of caller module. the only thing a caller needs to do should be calling `metrics.set(METRIC_NAME, VALU)` or `metrics.incr(METRIC_NAME)`.

[2017-03-17 07:37] jrgp commented on #58
Fixed per https://github.com/linkedin/iris-api/pull/61

[2017-03-17 07:37] #58 closed

[2017-04-01 05:23] houqp opened #92 "rename package name to iris or iris-core"

[2017-04-03 20:53] #92 closed

[2017-04-11 05:18] houqp opened #110 "Prometheus Alertmanager integration"

[2017-04-11 19:58] jrgp commented on #110
This would be a good idea

[2017-04-12 22:13] houqp opened #118 "ignore and mark auto reply email as read"
The number of unread email is growing indefinitely in our inbox. We should just ignore the parsing and mark as read for emails with the following headers:

[code]

The above should be good enough for gmail users.

If we want to go fancy, there is more stuff we can check: https://github.com/jpmckinney/multi_mail/wiki/Detecting-autoresponders

[2017-04-17 22:49] #118 closed

[2017-04-19 01:57] houqp opened #128 "reject invalid `role:target` early in sender rpc handler"
The current behavior is a little bit confusing because it returns 200 to the client, the message won't be delivered later in the code path if `role:target` is invalid.

[2017-04-19 19:21] jrgp commented on #128
I can't reproduce this. When I try to send to an invalid user using iris.client, I get this:

[code]

However, I did add tests and more logging to confirm this behavior, and added a few more checks that reject requests that are missing both body and template (which results in not being able to send a message anyway):

https://github.com/linkedin/iris/pull/130

[2017-04-19 19:40] houqp commented on #128
Ha, you are right, I missed that extra expand check ;)

[2017-04-19 20:57] jrgp commented on #110
Looks like their client for pagerduty is hard-coded into their golang codebase.

We should probably write a golang client for iris, maybe keep it in the same repo as the python one (separate subfolder that's still `go get`-able.

[2017-04-19 22:45] #128 closed

[2017-04-20 00:01] houqp opened #131 "Bug: aggregated messages will lose their original message body"
Currently, if a message is aggregated, the original body will get reset to a `Batch ID: HASH' due to the following line:

[code]

Ideally, we should keep the content of the original messages unchanged and create a new message specifically for the batch notification.

[2017-04-26 19:20] minhaz1 opened #149 "Arrow keys move pages even when on input field"
If your are in an input field and use the arrow keys to move back and forth in the text for the input field, the pagination for the page also changes. The arrow keys for pagination should probably be disabled when focus is on an input field.

[2017-05-02 19:40] #149 closed

[2017-05-02 20:29] houqp commented on #131
We should also include help text in the message to let user know how to get all the batched messages using the ID.

[2017-05-02 23:28] houqp opened #167 "support regenerate key for applications from the UI"

[2017-05-02 23:31] jrgp opened #168 "Add re-key functionality to the application UI"
Make it so iris admins can click a button to make iris change the key for an app to a new randomized value.

[2017-05-02 23:32] #167 closed

[2017-05-03 01:25] houqp opened #169 "support deleting unused plans and templates"

[2017-05-03 22:05] houqp opened #175 "tweak default machine answer detection timeout for twilio"
the default 30s is too long. we need to also document this behavior

[2017-05-16 21:59] jrgp commented on #168
Here's a PR for the backend part: https://github.com/linkedin/iris/pull/190

[2017-05-16 22:35] jrgp commented on #168
PR for frontend part: https://github.com/linkedin/iris/pull/191

[2017-05-17 02:18] jrgp commented on #168
Closing as those two PRs which implement this functionality were merged.

[2017-05-17 02:18] #168 closed

[2017-05-31 20:58] jrgp commented on #169
This adds backend support: https://github.com/linkedin/iris/pull/208

[2017-05-31 22:59] jrgp commented on #169
Need to add a button/modal to the plan editor that hits that new API endpoint

[2017-05-31 23:22] jrgp commented on #169
UI PR: https://github.com/linkedin/iris/pull/209

[2017-05-31 23:33] jrgp commented on #169
Both of those have been merged so closing.

[2017-05-31 23:33] #169 closed

[2017-06-03 02:01] houqp opened #214 "highlight incidents with failed 3rdparty delivery status in incident view"
so that users don't have to click into the detailed message view to check the twilio delivery status.

bonus point: have a per incident stats summary including success rate and some other interesting data.

[2017-06-03 02:22] jrgp commented on #214
I like this idea. :D

[2017-06-29 21:54] wahmedswl opened #237 "DOCKER"
Hi, it would be great to have docker container to quickly spin-up for evaluation/testing.

Thanks

[2017-06-29 23:22] dwang159 commented on #237
See the README in ops/packer. Also, https://quay.io/repository/iris/iris

[2017-06-30 07:52] wahmedswl commented on #237
Thanks 👍

[2017-06-30 07:52] #237 closed

[2017-07-01 08:56] kjetilmjos opened #238 "css paths missing"
Tried an installation of Iris and got it running, but there is no CSS displayed in the browser. Static logo is working. Tried looking a bit in the source code and the CSS link path is empty when I do inspect source, so my guess is that there is something wrong in the templating where it sais ASSET_URL. Not sure how to fix it though.

[2017-07-06 17:57] kevsco77 opened #239 "Create/Clone Plan error"
Hey guys,

Running into an issue when attempting to create a new plan or cloning an existing.

Browser users:
FireFox - ver 54.0 (64-bit)
Safari - ver 10.1.1 (11603.2.5)

Steps to reproduce:
1. Log into Iris as user 'demo'.
2. Select the "Plans" tab, then 'Create New Plan'
3. Complete the resulting form and attempt to save.

Cloning:
1. Log into Iris as user 'demo'.
2. Select an existing plan
3. S

[2017-07-09 22:41] kevsco77 commented on #239
This issue has been addressed in the latest release (Docker Image ID: e1d8d8fc9839). closing

[2017-07-09 22:41] #239 closed

[2017-07-11 20:37] dwang159 commented on #238
Seems like an issue with webassets. How are you running Iris when you see this issue? Docker, Makefile?

[2017-07-11 20:54] kjetilmjos commented on #238
I'm running it using make serve. Followed the setup in the readme file

[2017-07-11 22:09] dwang159 commented on #238
Does the src/iris/ui/bundles directory exist? In [src/iris/ui/\_\_init\_\_.py](https://github.com/linkedin/iris/blob/master/src/iris/ui/__init__.py#L22), the first few lines should create js and css bundles that the frontend can reference. Are you seeing any errors in creating bundles when running make?

[2017-07-12 11:34] kjetilmjos commented on #238
The bundle directory is not in src/iris/ui/bundles but instead under src/iris/ui/static/bundles
Not seeing any error messages when running make serve. The following lines are printed:

[2017-07-12 13:32:22 +0000] [3274] [INFO] iris.ui Web asset root: "/home/ubuntu/iris/src/iris/ui"
[2017-07-12 13:32:22 +0000] [3274] [INFO] iris.ui Building bundle: bundles/iris.js
[2017-07-12 13:32:22 +0000] [3274]

[2017-07-16 06:34] houqp commented on #238
The bundles should be generated at src/iris/ui/static/bundles, see: https://github.com/linkedin/iris/blob/master/src/iris/ui/__init__.py#L25. Could check out the rendered html source to see what's the generated CSS link path?

[2017-07-16 06:34] houqp commented on #238
@kjetilmjos could you tell us what OS are you using?

[2017-07-16 06:41] houqp commented on #238
Could you also run `pip freeze` paste the content here?

[2017-07-16 07:53] jrgp commented on #238
I wonder if this could be due to restrictive file permissions and webassets silently filing to write the files.

What user are you running make serve as the same user you clone/installed the venv/etc ?

[2017-07-16 15:11] kjetilmjos commented on #238
I'm runnning ubuntu 16.04 LTS on a virtualbox machine with python 2.7.12
Output of pip freeze:
adium-theme-ubuntu==0.3.4
alabaster==0.7.10
argh==0.26.2
Babel==2.4.0
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
Beaker==1.9.0
cached-property==1.3.0
certifi==2017.4.17
chardet==3.0.4
click==6.6
configparser==3.5.0
coverage==4.4.1
cssmin==0.2.0
dnspython==1.14.0
docutils==0.13.1
enum34==1.1

[2017-08-14 18:18] brianredbeard opened #255 "Enable support for both Python 2.x and 3.x"
As subsequent changes are no longer forthcoming to the 2.x branch of Python projects should begin the process of cross compatibility.  This issue is being opened to collect outstanding issues and note blockers, should other users attempt to run Iris with Python 3.x.

[2017-08-14 23:33] jrgp commented on #255
It will be interesting to see which iris dependencies don't work on 3.x.

[2017-08-15 18:47] brianredbeard commented on #255
As of right now it looks like the basic components (between iris and oncall) will be:
  - [ ] moving from [python-ldap](https://pypi.python.org/pypi/python-ldap/) to [pyldap](https://pypi.python.org/pypi/pyldap/) or [ldap3](https://pypi.python.org/pypi/ldap3).  pyldap (in my brief testing) has worked as a drop-in replacement for python-ldap.
  - [ ] Fixing some print statements & importing `from _

[2017-08-16 21:32] jrgp commented on #255
Some of those we can do, but we're still discussing internally the pros/cons of moving from 2.7 to 3.x.

To avoid relying on compatibility layers (six/future/etc) we feel it'd be best to only support one major version of python instead of trying to support both.

[2017-08-17 19:40] houqp commented on #255
If we want to stick with Python, then it's better to go all in to py3. I can see us benefit a lot from the static type annotation.

@brianredbeard thoughts on porting Iris/oncall to Go? Internally we have talked about doing a go rewrite multiple times. But I am not sure how customers will feel about the rewrite since Iris is in a very stable state right now.

[2017-08-18 05:53] brianredbeard commented on #255
@jrgp I totally understand.  I've on all of my various utilities I've been undergoing the process of moving 2->3 for all of my scripts.

@houqp I would be all for a Go version.  There are positives and negatives to it to be noted.

Positives:
  - Easier deployment -  The fact that binaries are statically compiled and (in most cases) cross platform can widen the audience.
  - Smaller deployments -

[2017-08-18 19:33] jrgp commented on #255
@brianredbeard regarding those Go negatives:

- Workflow (in terms of build -> deploy) might not change that much
- Part of why we focused so much on the e2etest.py is because those would be reusable in a go rewrite
- Go dep management is pretty fragmented. We developed an internal solution using gradle/ivy for our Go apps, but we aren't going to open source that tooling.

We've had lots of intern

[2017-09-15 21:26] dwang159 opened #269 "Add example auth configuration in config.dev.yaml"
Make auth config settings more transparent by providing an example.

[2017-09-26 01:07] minhaz1 opened #272 "Call to slack API should be form encoded and not url-encoded"
We got a 414 (Request-URI too long) from slack since the params are URL encoded instead of form encoded. It doesn't make sense to URL encode it if it's doing a POST anyway.

Call to slack
https://github.com/linkedin/iris/blob/master/src/iris/vendors/iris_slack.py#L90

Slack API:
https://api.slack.com/methods/chat.postMessage

[2017-09-26 17:02] #272 closed

[2017-10-02 16:41] p6knewman opened #274 "Track Email Conversation Threads with owasync.py"
Hello,

When creating incidents via email messages, it would seem advantageous to only create an incident once per a conversation thread. Users will add the "On call" email address to a thread that requires emergency attention, which triggers the incident, but every successive message in that thread will continue to create new Iris incidents each time there is a reply.

I notice that there is a ch

[2017-10-02 17:34] jrgp commented on #274
Hey,

Thanks for looking into this. While we could store some metadata in the incident context and then iterate backward parsing the ID out of the json looking for it, this is likely to be inefficient and slow when you have **lots** of incidents.

We were hoping to find headers that only exist on email replies to a thread. Do you see any other headers aside from Thread-Index that we could merely c

[2017-10-02 17:45] jrgp commented on #274
Also, quick question: how are you pulling your emails from exchange? Using our OWA sync script or something else?

[2017-10-03 13:28] p6knewman commented on #274
I agree that looking backwards in *all* incident context carries the risk of being very slow with a lot of incidents. For this reason, I'd restrict it to incidents within the last 24 hours by default (with a configurable lookback time). As long as the incident.created is indexed (and it is), I don't foresee this being too much of a drag on performance.

Can I show you what I have in mind? Here's a

[2017-10-03 18:09] jrgp commented on #274
Hey,

This might cause problems for us and other very high volume iris instances as we have around 2000 incidents per day.

It would be cleanest for this process to not have state. Would it be possible for you to instead of CC'ing, BCC iris when you need to loop it into a thread and that way subsequent replies won't create incidents?

Regards

[2017-10-03 18:48] p6knewman commented on #274
Not sure I understand, or maybe we're not on the same page. The query of recent incidents is this line:
https://github.com/linkedin/iris/compare/master...p6knewman:issue_274_track_thread_index#diff-ddac0526a1fb66b4b38d3eaa27bce478R3157

If the worst-case scenario for incident volume is on the order of 2000 per/day, the WHERE clause on the default configuration setting would only produce 2000 rows

[2017-10-05 14:17] p6knewman commented on #274
I went ahead and generated some junk data on my dev instance. I generated 2000 incidents per day going back for the last 365 days (730k total). I timed the performance of both the MySQL query and the combined time it takes to query the DB + ujson.loads the context and iterate over it looking for the same thread_id.

The performance numbers were quite acceptable even up to a retrieval of ~28,000 in

[2017-10-09 14:42] p6knewman commented on #274
@jrgp, any thoughts on this? If preferred, I could make this whole feature subject to an on/off config option and default it to off.

[2017-10-10 20:24] kjetilmjos commented on #238
Did a clean install again on Ubuntu 17.04 following the readme. The CSS issue was not there anymore. Closing this issue.

[2017-10-10 20:24] #238 closed

[2017-10-15 18:58] kjetilmjos opened #281 "API key"
Hi, I'm trying to trigger an incident using the API. But I can't figure out how to get the API key. Is it created automatically with the creation of an application or how does it work? Was also unable to create a new application from UI. Is this something that has to be done via the config file?

[2017-10-17 23:24] dwang159 commented on #281
API keys are created automatically when an application is created. You can make an application by logging in as an admin user and clicking the "Create application" button in the "Applications" tab. This should take you to a page where the API key is visible.

[2017-10-18 09:37] kjetilmjos commented on #281
Thanks that worked! How is the user management for Iris done?

[2017-11-07 14:36] lazzurs opened #306 "Certificate error on https://iris.claims"
Hello,

When trying to visit https://iris.claims I get a certificate error indicating the certificate in use is for *.github.com.

[2017-11-09 14:42] wleese opened #309 "Creating a Plan fails with sqlalchemy.exc.IntegrityError: (pymysql.err.IntegrityError) (1048, u"Column 'user_id' cannot be null")"
When creating the docker containers with:

[code]
Running them with the configs/config.dev.yaml against a DB that imported schema_0.sql and dummy_data.sql and then trying to create a Plan:

[code]

[2017-11-10 10:12] wleese commented on #309
Tested using readme to set up local dev env. Same issue.

[2017-11-10 10:20] wleese commented on #309
So this only happens with disable_auth: True and using a user that's not in the DB.
Perhaps a warning should be shown then.

[2017-11-10 13:54] wleese opened #313 "Missing documentation on integration with oncall / sync_targets.py"
I'm trying to find out how to get iris integration with oncall is configured.
It seems that sync_targets.py is somehow involved. But I cannot find any references on how this is configured or run.

Any help would be appreciated.

[2017-11-14 12:51] wleese commented on #313
Apparently, you run:

[code]

.. from within the container iris is running.

[2017-11-16 12:46] wleese commented on #110
Note that as per their documentation, they won't be accepting new receivers. Instead, they're betting on everything supporting a generic webhook.

[2017-11-16 20:33] p6knewman opened #316 "iris_twilio Module Fails on urllib.urlencode() with Unicode Characters"
I experienced an issue yesterday where a well-meaning user pasted in some output he received in PuTTY to the creation of an Iris incident. Within this output, I believe there were some unusual unicode quote characters that caused urllib.urlencode to fail to encode the payload inside the iris_twilio vendor module. The end result was that Twilio didn't trigger any phone calls or SMS messages and fel

[2017-11-20 14:37] wleese opened #318 "Missing documentation on the creation of Applications"
It seems that there is no API documentation, UI or sample query that makes apparent how an application is created.

Any help would be appreciated.

[2017-11-22 13:07] wleese commented on #281
[code]
With this config you should be able to login with any user.

If disable_auth: False, then you can configure oncall to manage users. Here's an example of LDAP config for *oncall*:

[code]
Then you can run something like:
[code]
Which will import the users from ldap into iris. Haven't tried doing anything with users local to iris yet.

* Disclaimer: I'm probably missing half of what's going o

[2017-11-23 11:19] kjetilmjos commented on #281
Thanks for the info. Disable_auth could probably be one of the issues, will do a clean install and try it

[2017-11-23 11:22] wleese commented on #281
Oh, and if you disable_auth: False, you might also run into an issue where if you're running iris through http, cookies won't be set correctly when logging in and you'll be redirected to the login page (after you just logged in). Either run iris through https or change the code. Can't remember where. Grep for cookie and set the secure value to false.

[2017-11-27 16:43] fellyns commented on #318
Hey @wleese - we have a microsite for Iris at http://iris.claims which has an example application integration (http://iris.claims/docs/nagios.html) does that help or were you looking for more information?

[2017-11-27 16:45] fellyns commented on #306
Thanks for the report @lazzurs! - we'll get that fixed up as soon as we can. Until then feel free to use the http version to avoid the error.

[2017-11-27 16:50] fellyns commented on #309
Thanks for the report @wleese! We definitely should be catching this and returning 400 and bubbling the error up to the user.

[2017-11-27 17:01] wleese commented on #318
Not quite. I’m specifically looking for how application keys are created.

[2017-11-27 18:36] dwang159 commented on #281
I'll give a plug for https://github.com/jrgp/iris-admin and https://github.com/dwang159/oncall-admin for user management in Iris/Oncall as well, if you don't want to deal with setting up LDAP. wleese's steps for setting up LDAP users for Oncall and Iris looks good to me. We're a little short staffed on writing docs for setup, but I'll try to get something going. Really appreciate the patience you

[2017-11-27 18:41] dwang159 commented on #318
Related to #281. Better docs are definitely needed for this setup. Applications can be created from the Iris frontend UI by any admin user (for example, the user "demo" in the dummy data). By logging in with an admin user, a "create application" button should appear in the top right of the Applications tab. This allows you to create an application and access its associated API key.
I'll try to exp

[2017-11-27 18:44] dwang159 commented on #309
I think the root issue is that you can log in as nonexistent users with disable_auth. Fixing our dummy auth to do a quick username check would give us an easy way to avoid situations like these.

[2017-11-29 14:59] wleese opened #321 "How to add new vendor support e.g. Hipchat?"
I've implemented Hipchat support (./src/iris/vendors/iris_hipchat.py), but actually integrating this into Iris and Oncall isn't obvious to me.

In Iris, I can add a new mode (through a DB edit) called "hipchat". This is reflected in all the expected places in the UI.

Making a similar change to Oncall, for example in the contact_mode table, does not propagate any changes to the UI. Can I safely as

[2017-11-29 23:43] jrgp commented on #321
That should be all that's needed for it to work within iris. Would you be able to make a PR? :)

As for oncall, @dwang159 should be able to provide more context there.

[2017-12-01 13:34] wleese commented on #321
https://github.com/linkedin/iris/pull/324

[2017-12-01 14:12] wleese opened #325 "circleci tests are currently broken"
[code]

[2017-12-01 21:03] dwang159 commented on #325
Resolved with #327

[2017-12-01 21:03] #325 closed

[2017-12-06 11:59] #318 closed

[2017-12-06 12:11] wleese opened #330 "Support oncall schedules that are not 24/7"
At our company, we have the following use case:

- Alert is created
- If office hours, TeamA is notified
- If outside office hours, TeamB is notified

I've set this up in Iris with a plan that:
- In step 1 has 2 Notifications
- The first points to TeamA in oncall as primary
- The second points to TeamB in oncall as primary

In Oncall:
- TeamA has someone oncall during office hours
- TeamB has some

[2017-12-06 19:54] jrgp commented on #321
I think this can be closed as the PR was merged. This will/might require a similar PR on Oncall's end but it should be done for iris.

[2017-12-06 19:54] #321 closed

[2017-12-06 19:54] jrgp commented on #316
Closing as this PR was merged.

[2017-12-06 19:54] #316 closed

[2017-12-06 21:42] jrgp commented on #309
That PR which was just merged (#331) prevents logging in with invalid usernames, which should fix this issue. Closing.

[2017-12-06 21:42] #309 closed

[2017-12-06 22:30] jrgp commented on #110
Closing this as wleese added this.

[2017-12-06 22:30] #110 closed

[2017-12-07 02:14] dwang159 commented on #330
How are you doing the role lookup for oncall-primary? If you're using Oncall, our workflow is to create a single team containing both A and B. Then, we create a rotating schedule that has TeamA on call in the day and TeamB on call at night. This makes the Iris plan pretty trivial, and concentrates the scheduling logic into Oncall.

[2017-12-07 10:24] wleese commented on #330
Ah, this issue is obviously in the wrong project. Anyway..

This would be fairly elegant were it not that one of the teams, say TeamB, actually supports 10s of other teams. In practice, we have developer teams and operations teams. The operations teams support many developer teams - let's say the ratio is 10:1.

Adding the operations teams to all the developer teams they support, is possible, but

[2017-12-07 18:49] dwang159 commented on #330
We actually have a feature in-flight for this kind of use-case in Oncall. We call it "team subscription", which lets a team in Oncall borrow another team's events and put them onto its calendar. This lets you have TeamA "subscribe" to TeamB's primary events, and have them appear on TeamA's calendar. Then, when you query Oncall for TeamA's current primary, TeamB's primary will appear.

The main thi

[2017-12-07 19:03] wleese commented on #330
@dwang159 sounds like what I'm looking for. If the backend code is there already, I'll snoop around and see if I can get something usable out of it. I can wait for the frontend to catch up.

[2017-12-08 14:52] wleese commented on #330
Just tested this - works perfectly. Thanks!

[2017-12-08 14:52] #330 closed

[2017-12-08 14:53] wleese commented on #313
has been addressed in https://github.com/linkedin/iris/pull/333

[2017-12-08 14:53] #313 closed

[2017-12-18 23:04] HITChris opened #343 "Add documentation on Oncall/Iris integration for messaging"
It is not clear to me from the documentation or config comments what config settings are required in order for Oncall to be able to pull from notification_queue and then trigger out a message to the recipient via Iris as the sender. I'm using the annotated config provided via a553c1e from [#334](https://github.com/linkedin/iris/pull/334), which seems to call out the default values related to SMTP,

[2017-12-18 23:51] jrgp commented on #343
Can you provide the SMTP settings you are using? Also, do you have iris sender running?

[2017-12-19 16:56] HITChris commented on #343
Yep iris-sender is running. What am I missing here?

Iris config -

[code]

Oncall config -

[code]

Thanks!

[2017-12-19 17:49] jrgp commented on #343
Are you getting any exceptions or errors/warnings in logs? It's possible/likely that the "iris" application oncall is configured to use is not present in the DB with the key 'magic'.

[2017-12-19 18:19] HITChris commented on #343
Hmm, it was not present but I just added it in. I'm still seeing pure GET/POST resource/API-related requests in the console, and nothing representing possible issues encountered during attempts to trigger messages out. Does the logger output go to a separate file that I'm not aware of (or might be getting blocked from being created due to permissions)?

[2017-12-19 20:33] HITChris commented on #343
Turns out that oncall-notifier wasn't running :( I'd still support extending the documentation related to this piece for non-experts (like myself :)), but we are good to go now, so we can close this Issue if needed

[2017-12-20 02:20] jrgp commented on #343
Thanks for getting back to us. Glad to hear you got it working.

[2017-12-20 17:27] #343 closed

[2017-12-21 10:43] wleese opened #344 "Add UI for team subscription"
As mentioned in https://github.com/linkedin/iris/issues/330

After careful consideration, we'd not only like to use this feature, but also want to expose it to our users.

[2017-12-21 10:47] wleese commented on #344
wrong project.

[2017-12-21 10:47] #344 closed

[2018-01-01 17:28] martinwangjian opened #346 "CircleCI fails on master branch(commit f104b1c) in step 'make flake8'"
Hi,

CircleCI failed on my PR (#345) , so I rebuilded on master branch (commit f104b1c) on my CircleCI I got the same error:
[code]

I reproduce this error locally with:
[code]
I don't understand why circleci passed on https://circleci.com/gh/linkedin/iris/386#

Could you trigger a rebuild to confirm that please?

[2018-01-01 20:53] jrgp commented on #346
Looks like somehow the version of flake8 was bumped and added new code style checks.

We’ll fix this after the holidays (tomorrow)

[2018-01-02 18:59] jrgp commented on #346
@martinwangjian this should now be fixed. Would you be able to rebase back to master and see if your PR now passes the tests?

[2018-01-02 19:57] jrgp commented on #346
Closing as my PR fixed your PR and we merged both. Thanks for reporting.

[2018-01-02 19:57] #346 closed

[2018-01-02 19:59] martinwangjian commented on #346
thank you for your availability

[2018-01-10 13:37] miton18 opened #349 "Feat: webcall actions"
Hi !

Iris allow lots of actions in its plans steps, like :
- User
- Manager
- Team
- Oncall-Primary
- Oncall-Secondary

It could be useful to have a 'WebCall' action which perform a simple HTTP call.

Why ?
- Some microservices can perfom actions on incident
- Make aggregations of incidents to build globals services status pages
- We can build and update services dependencies trees
- finaly, we c

[2018-01-15 15:37] wleese commented on #349
The actions you mention are actually a single action, implemented in multiple ways. Namely looking up a value ("who's on call?").

What you probably are thinking of are the vendor plugins, which are linked to priorities. Say urgent messages -> call, medium -> chat, low -> email. Additionally it seems you'd not want this as a "step" but as "Incident Tracking". Meaning that regardless of how message

[2018-01-15 16:36] miton18 commented on #349
I understand what you say, I'm not talking about vendors integration :-)
we already code a custom vendor for our internal usage linked to our infra

I speak about that: https://github.com/linkedin/iris/blob/a73b8c8543135b79e2a025db7932ae6e0cb9ef45/src/iris/constants.py

In some steps, it can be interesting to have an action of type "HTTP_REQUEST" which just perform an http call on another API (not

[2018-01-16 09:11] wleese opened #351 "UI: Plan step numbering starts at 1. Other references start at 0."
When using the plan view, steps are always counted starting at 1.
However, when looking at an incident or an overview of incidents, what was step 1 is actually referred to as step 0 ("Current Step: 0").

[2018-01-16 15:22] wleese opened #353 "Allow all contact modes to be used for "Incident Tracking""
It would be nice if any kind of contact mode could be used for incident tracking. Especially the ability to provide an arbitrary value is very nice.

Say for example you want to send all alerts to a chat room, but don't want to create user's that represent any random chat room your teams want to use. Incident tracking allows the user to select the channel (e.g. "chat") and type in the teams chat r

[2018-01-16 18:41] dwang159 commented on #351
Can you give steps to repro? I think this only happens immediately after an incident is created, before the first notification is sent out (e.g. testing a plan, then immediately looking at the incident page). Here, "step 0" is a little confusing, but technically correct, since Iris hasn't started executing step 1 yet.

[2018-01-17 08:37] wleese commented on #351
- Use 'Test Plan' with any plan
- Switch to Incidents tab
- Note that in the list view, your incident notes "Current Step: 0"
- Wait until iris-sender comes by, note that in the list view "Current Step: 1"

In the individual incident view, "$planname: step $n" is used.

I think the confusion is with the language usage. The current wording implies "you are at step X". Which in my understanding mean

[2018-01-17 20:15] jmatsushita opened #355 "Plans for mobile"
I’ve been looking at your work on Iris in the mobile branch of the `iris` and `iris-relay` repo and I’ve been wondering what is planned for the future?

If I understand correctly currently `iris-relay` can do SAML but in its mobile branch it would use the qrcode/mobile_key for authorization instead that is generated in `iris`'s mobile branch?

Seems that there's also work to register devices for p

[2018-01-18 20:45] dwang159 commented on #355
You're correct that we have a mobile client being worked on right now. Currently we're doing some internal testing of how the mobile app would burrow through our corporate network isolation. The QR code in Iris would likely provide a mechanism for a mobile app to connect to the correct instance of Iris, but we're shying away from using it for authentication to allow for easier re-auth. The SAML in

[2018-01-18 20:52] dwang159 commented on #349
That's an interesting generalization of the Iris framework. We've focused on notifications, but adding an HTTP request "contact mode" could work. I think the drawback you might find here is that contact mode destinations (e.g. phone numbers or Slack handles) are defined per-user, so having several webhook locations would be difficult.

I think what @wleese describes is likely a better place for th

[2018-01-23 08:52] wleese opened #360 "gwatch_renewer> failed with KeyError"
[code]

Despite the skipgmailwatch config setting. I couldn't find any other way to disable gwatch

[2018-01-23 20:47] dwang159 commented on #351
I'm a little confused by this. When I create a plan with multiple steps (specifically, one notification per step with wait == 1 and count == 2), things seem to behave as one would expect (i.e. "You are at step 1").  For example, after receiving the first message in step 1 but before receiving the second one, going to the incident page resulted in a "Current step: 1". Is the plan you're testing wit

[2018-01-24 05:37] gani-m opened #363 "Getting "Application error" voice message"
Hi ,

We are trying IRIS & Oncall in our office environment. Whenever I create a test incident (Using Plans) with urgent priority, I get a call from iris. But the voice message says "application error". I expect the voice call to read the incident. It is not working. I have opened the externalip:16649 to the world, Below is my twilio config in IRIS,

vendors:
- type: iris_twilio
  name: twilio_1

[2018-01-24 08:28] wleese commented on #351
No, this is exactly what I'm seeing with a plan similar to what you describe.
What you're saying is completely correct. My point is that it's not intuitive - because there's no such thing as a "step 0"

It's like giving someone instructions and later you ask how far along they are. Currently Iris responds:
"I'm at step 0"
Where as a more logical response would be:
"Oh sorry John, I haven't started

[2018-01-24 13:58] wleese opened #364 "Messagebird support"
We'll be using Messagebird instead of Twilio.
No advantage per se, just something our company already has in use.

Edit: removed metrics question which wasn't relevant due to me confusing the way vendors deal with metrics - nothing to see here..

[2018-01-24 20:44] #364 closed

[2018-01-26 01:26] dwang159 commented on #363
To integrate with Twilio, you'll need to set up Iris relay(https://github.com/linkedin/iris-relay), which is by default hosted on port 16648. This should allow Twilio to hit the proper endpoints and deliver your call.

[2018-01-26 07:42] #351 closed

[2018-01-27 08:21] #360 closed

[2018-01-27 08:21] #353 closed

[2018-02-01 11:21] miton18 commented on #349
Ok, thanks for all :-)

[2018-02-01 11:21] #349 closed

[2018-03-22 14:53] gani-murugesan commented on #363
Thanks dwang159

[2018-04-27 03:17] sankethkatta opened #394 "Question: Is it possible to use iris without LDAP?"
I am attempting to setup and try-out Iris for our company's oncall system, however we do not use LDAP for authentication. Is Iris usable without it? I did not see any documentation on authentication in the README.

[2018-05-15 09:32] tvlieg opened #400 "Bug: Plans with a name containing a '/' character cannot be deleted or updated."
If a plan has a slash in its name, e.g. "test-name-with-/-character", it cannot be deleted. The DELETE http request fails, generating a 404:

Request URL: https://iris.dev.bol.io/v0/plans/test-name-with-/-character
Request method: DELETE
Status code: 404 Not Found

[2018-05-16 00:11] dwang159 commented on #394
Iris currently has no built-in credential storage, so it relies on another system to provide this. At LinkedIn, this is LDAP, but it's possible that another system would work as well. As for internal support for auth within Iris; that's unfortunately living in the backlog for now, since LDAP covers a decent chunk of use-cases. Contributions are welcome if you're interested though :)

[2018-05-16 00:11] dwang159 commented on #394
Iris currently has no built-in credential storage, so it relies on another system to provide this. At LinkedIn, this is LDAP, but it's possible that another system would work as well. As for internal support for auth within Iris; that's unfortunately living in the backlog for now, since LDAP covers a decent chunk of use-cases. Contributions are welcome if you're interested though :)

[2018-05-16 00:12] dwang159 commented on #400
Thanks for the report, we'll take a look.

[2018-05-16 00:39] dwang159 commented on #400
Looks like the issue here is that plan deletion is specified via plan_id, rather than name. You should do a DELETE on `/v0/plans/$plan_id` and give that a shot.

[2018-05-17 13:05] tvlieg commented on #400
I should have added that I didn't use the api myself, but that the problem occurs using the normal Iris web-gui. So if a DELETE on `/v0/plans/<plan>` should be done using a plan_id, than I think the bug is that the web gui is using name rather than plan_id while deleting a plan.

[2018-05-17 13:56] tvlieg commented on #400
I think I have fixed this issue with PR #401 . Tested it in our Iris instance.

[2018-05-18 00:56] dwang159 commented on #400
Merged #401

[2018-05-18 00:56] #400 closed

[2018-05-30 20:48] sankethkatta commented on #394
Got it, thanks @dwang159!

[2018-05-30 20:48] #394 closed

[2018-06-12 07:44] Ozymandiiaz opened #406 "Ue postgresql instead of mysql ?"
Is it possible to use postgresql instead of mysql ?

[2018-06-12 18:23] jrgp commented on #406
Theoretically, Iris could be adapted/ported to work with Postgres, but this would be a bit of work:

- All of our SQL queries are hardcoded to with MySQL in mind. For performance reasons, we do not use a database-agnostic ORM. Many of our queries would likely work out of the box on Postgres, but a few are likely dependent on MySQL-specific functionality

- We'd need to find a Postgres db driver th

[2018-06-20 09:37] Ozymandiiaz opened #408 "Message not created when incident created"
i'am using irisclient python to create incident but there is no message created ( notification)

[2018-06-20 09:39] Ozymandiiaz commented on #408
only incident that i created

[2018-06-20 17:13] dwang159 commented on #408
Messages will only be created for an incident if Iris-sender is running. Can you try doing a "make sender" or running sender.py in src/iris/bin?

[2018-06-21 12:40] Ozymandiiaz commented on #408
i get the message know thx, but i don't have the email in my inbox even if the smtp server configuration is good and i get the status sent in message

[2018-06-25 14:22] Ozymandiiaz opened #410 "Email sent using iris_dummy not iris_smtp"
Why i get this log  :
2018-06-25 16:19:35,066 INFO iris.vendors.iris_dummy SEND:

Iris is using iris_dummy instead of iris_smtp so it's not sending email ?

[2018-06-25 20:37] dwang159 commented on #410
You can configure Iris to use a different vendor in the config.yaml. See line 117 of https://github.com/linkedin/iris/blob/master/configs/config.dev.yaml for examples on how to configure the SMTP Iris vendor.

[2018-06-25 20:38] dwang159 commented on #408
I'm guessing this is related to #410 , closing this and continuing there. If Iris is using the dummy vendor instead of SMTP, it's likely that all you need to do is reconfigure it to use the STMP vendor.

[2018-06-25 20:38] #408 closed

[2018-06-27 22:01] jensenja opened #412 "target_contact entry for targets of type team"
Hi,

I've finally gotten Iris and Oncall integrated but I have a question.

It would seem the default behavior when a target is `team` is to individually email all members of a given team, rather than looking in the `target_contact` table to see if a defined team in the database has a `mode` assigned to it. For instance, I can see in my `target` table that I have a team with a `type_id` of 2, whic

[2018-07-04 19:30] jensenja opened #413 "where to customize email message templates?"
Hi,

I'd like to remove the incident ID from email message subject headers - where can I do this in the code?

Thanks!

edit: Happy 4th!

[2018-07-11 00:43] dwang159 commented on #413
This one was surprisingly tricky to find: https://github.com/linkedin/iris/blob/master/src/iris/sender/cache.py#L115. I'm not a huge fan of where it ended up. One thing to note; users may have difficulty claiming via text/email replies without the message ID, since "claim last" may not be sufficient in some cases. I believe this is why we force the message id to be included in a template. It looks

[2018-07-17 00:43] #413 closed

[2018-07-26 09:17] Ozymandiiaz opened #423 "How to configure delay between incident and alerting ?"
How to configure delay between incident and alerting ?

[2018-07-31 08:26] tsimyau1612 opened #425 "Custom Vendor for Sending Message and Notification"
Hi, I would like to know if it's possible to add a custom vendor for sending message and notification. So far, Iris provides sending them via email, slack, and twillio. But what if I want to send the message and notification by firing a personalized API? If it's possible, where do I start and what do I have to add? Thanks in advance.

[2018-07-31 17:13] dwang159 commented on #423
Incidents are created in the Iris API, and the Iris sender is responsible for sending messages associated with those incidents. The delay you're seeing is because Iris sender is spinning on a 1-minute loop. At most, this delay should be 1-minute long. To change this around, you can look at https://github.com/linkedin/iris/blob/master/src/iris/bin/sender.py#L1540, which is where this sleep time is

[2018-07-31 17:16] dwang159 commented on #425
Custom vendors are supported (for example, see the community-contributed messagebird vendor: https://github.com/linkedin/iris/blob/master/src/iris/vendors/iris_messagebird.py). You'll need to create a vendor class that defines a `supports` attribute, which defines what modes this vendor supports. Then, you need to define a `send()` function (e.g. https://github.com/linkedin/iris/blob/master/src/ir

[2018-08-06 21:13] dwang159 commented on #425
You'll need to run the Iris sender for messages to send. `make sender` should do that in the dev environment. You don't actually need to define a new priority unless you want to; making it available as a contact mode is sufficient as long as users update their default priority -> mode settings.

[2018-08-29 10:14] #425 closed

[2018-10-05 22:49] #406 closed

[2018-10-05 22:49] #355 closed

[2018-10-05 22:51] #281 closed

[2018-10-05 22:52] #131 closed

[2018-10-05 22:52] #175 closed

[2018-10-05 22:54] #423 closed

[2018-10-08 15:49] jmatsushita commented on #355
Hi @dwang159 any updates on the mobile front?

[2018-10-25 17:02] #410 closed

[2018-11-12 19:04] dwang159 opened #458 "Add default filters to messages page"
Currently, incidents page adds a default value for created start time. Do the same for messages.

[2018-11-13 20:23] buroa opened #459 "Build rpm"
There is very, very little documentation here, and it seems like the only way to really use this is to have a python environment (with many, many dependencies)

Can we build an rpm instead?

[2018-11-14 22:39] buroa opened #460 "demo/demo doesn't work ... redirects to /login/"
When I try accessing the :16649 Iris login, it just redirects me back to login every time. Here is the log dump:

[code]

[2018-11-14 22:39] buroa commented on #460
You can see it successfully logs me in on this line: [2018-11-14 22:36:48 +0000] [2051] [INFO] iris.ui Successful login for demo

[2018-11-15 02:45] buroa commented on #459
Will try this and report back

[2018-11-16 02:12] dwang159 commented on #460
In config.yaml, set server settings:
[code]
The reason you see this is because we use cookies for auth, and you're likely currently hosting Iris via http. We set `secure=True` on the cookie, so it is only passed on https requests unless explicitly enabled with `allow_http`.

[2019-01-06 19:01] ChrisCarini commented on #306
Hey @fellyns ,
<img width="457" alt="screen shot 2019-01-06 at 10 59 48" src="https://user-images.githubusercontent.com/6374067/50740381-503c1600-11a2-11e9-8221-9d657df91174.png">
Cert seems good - I'm guessing this issue can be closed? :)

[2019-01-10 20:22] dwang159 opened #473 "Error running "make targets""
I am getting below error while running make targets on iris.

File "/iris/src/iris/bin/sync_targets.py", line 145, in <dictcomp>
    if user['active']}
TypeError: string indices must be integers
Makefile:13: recipe for target 'targets' failed
make: *** [targets] Error 1

Below are the logs from oncall server.

[10/Jan/2019:04:24:05 +0000] "GET /api/v0/users?fields=name&fields=contacts&fields=activ

[2019-01-11 05:22] adityavijjanT commented on #473
Thanks for the quick reply, I have used default config file from both oncall and iris repo, have only changed db information nd ldap integration oncall config files.

oncall config:-

 - type: dummy
    application: oncall
    iris_api_key: magic

############################
### Oncall frontend settings
############################
supported_timezones:
  - 'US/Pacific'
  - 'US/Eastern'
  - 'US/Ce

[2019-01-15 07:21] ChrisCarini opened #476 "Default docker image from packer does not create healthcheck file, causing the /healthcheck endpoint to 404"
The `latest` (`0.0.14`) docker image hosted on `quay.io` does not have the `/tmp/status` file as declared in `iris/configs/config.dev.yaml`.

It seems all that is needed is the (1) creation of this file and (2) filling this file with the desired response of the `/healthcheck` endpoint (based on the documentation, `GOOD`).

[2019-01-15 07:33] jrgp commented on #476
That looks good. Feel free to make PR.

[2019-01-15 07:37] ChrisCarini commented on #476
Dang @jrgp , you respond too fast ;)

[2019-01-21 10:58] liuzhen opened #479 "400 when integrating with alertmanager"
[code]

error.log says nothing of ERROR, and I cannot find any other than access.log / error.log

[2019-01-22 01:58] liuzhen commented on #479
while that 400 is companied by "no iris_plan in groupLables", after we postman the request manually.

it will be better iris log it out though.

[2019-01-22 01:58] #479 closed

[2019-01-23 10:28] liuzhen opened #480 "any doc for high availability (maybe coordinated by zookeeper) for iris?"
cannot find any

[2019-01-24 12:41] adityavijjanT commented on #410
After configuring smtp relay  (smtp.gmail.com) my container is not starting, i am using the config in line 117.

[2019-01-25 10:33] adityavijjanT opened #481 "Iris-sender error"
While running iris-sender i am getting below error and messages are not sent to any oncall users.

raise InternalError(errno, errorvalue)
InternalError: (1055, u"'iris.message.incident_id' isn't in GROUP BY")

[2019-01-27 02:44] dwang159 commented on #481
You probably need to turn off `ONLY_FULL_GROUP_BY` in your mysql mode.

[2019-01-28 05:51] adityavijjanT commented on #481
Yes that works for me, i have a diff issue now regarding smtp.

 raise Exception('Failed to get smtp connection.')
Exception: Failed to get smtp connection.

I am using below smtp settings:

vendors:
  - type: iris_smtp
    name: email
    smtp_server: 'smtp.gmail.com'
    from: 'xyz@gmail.com'
    port: 465
    username: 'xyz@gmail.com'
    password: 'xyz'

[2019-01-28 12:28] wleese opened #482 "Integrate Iris & Oncall into a single UI"
Technically, Iris and Oncall perform their duties quite well. We have found however that our (company) user base is always baffled by the fact that they have to log in to two different websites at times, just to get things done.

It would be immensely beneficial to the user experience, if both products were brought under a single UI.

[2019-01-29 06:43] #480 closed

[2019-01-29 06:48] liuzhen commented on #482
make greater sense to put oncall & iris even bundled together, i think.

we currently set up two oncall & two iris, coordinating iris with zookeeper;
while put nginx in front of oncall & iris (and between them);
when trying oncall notifications we are totally lost that some emails of "create" etc events are received, while some other events are not. no clue why.

[2019-02-07 17:15] ashafer01 opened #488 "Packer docker only build is failing"
[code]

Looks like this version of python-ldap is broken? Current version is 3.1.0. Related to #255 ?

I'm able to install `python-ldap==2.4.9` on python 2.7.10 without issue though, so unsure what source of the problem is.

[2019-02-10 14:56] adityavijjanT commented on #481
What i have found that smtp with auth is not working, smtp without with port 25 is working, do we have any settings that we can enable smtp with auth...

[2019-02-11 20:38] avanier opened #489 "Picking a commit to build a release is hard"
Could it be possible to consider doing tagged releases? Right now, the current head as of f607fe4c5595469766470b899950d97570e8aebe cannot be built, and the latest image on Quay dates from 2017.

Would it be possible to tag what commits are actually buildable with [semantic versioning](https://semver.org/)?

[2019-02-12 20:21] avanier commented on #488
I've been digging through the git history, and I can't see a change to the python-ldap version since January 2017, so it's probably not that. My guess is on a change in something in the Ubuntu Docker image. Digging...

[2019-02-15 16:17] avanier commented on #488
Ok, I've been digging through all the Ubuntu Docker image tags on Xenial and I have yet to find something that works. So now my guess is that this gets broken by either a `pip` upgrade I'm not seeing, or an `apt-get` update.

Will keep investigating.

[2019-02-15 19:12] avanier commented on #488
Ok, it seems the breakage can be resolved by bumping `python-ldap` to `3.1.0`, so I'm going to guess that the compile code of the python bindings expect something from the `ldap-dev` package that's not provided anymore, and whichever version of the Docker image we use has that upgraded when we install the packages.

Working to figure out a fix.

[2019-02-15 23:50] dwang159 commented on #488
Our docs are pretty unclear here. I've opened #491 to address this issue; feel free to leave feedback if the instructions added there are unclear/lacking.
In the end, I did just bump python-ldap to 3.1.0 and add some documentation for setting up MySQL. We'll be moving to Python 3 sometime later this quarter (since Python 2 EOL is coming up), so I don't think it makes sense to stay on python-ldap 2

[2019-02-15 23:52] dwang159 commented on #489
Good point. After #491 is merged, we can begin to tag releases and pair them with quay images.

[2019-02-16 15:15] avanier commented on #488
I managed to get everything working with these fixes, and indeed #491 addresses all this. I believe this should be closed. :metal: @ashafer01

[2019-02-16 15:15] #489 closed

[2019-02-16 15:23] ashafer01 commented on #488
Awesome I was able to get it built too, thanks @avanier and @dwang159 !

[2019-02-16 15:23] #488 closed

[2019-02-20 07:19] pereiraarun opened #493 "Sending mail through office 365 with TLS fails."
Fails with the following error:

[code]

The quick and dirty fix is as below:

[code]

I assume the best fix would be to make it a configurable and then check if tls is required before doing starttls.

Please let me know if there is a preferred style and I'll submit a PR.

[2019-02-21 00:41] dwang159 commented on #493
Your proposed fix sounds reasonable. As long as the new option is configurable and defaults to the current behavior, this sounds good to me.

[2019-02-26 21:50] santijopo commented on #460
Hello there, we're trying the solution with the docker-compose option and we can't seem to log in to the demo. The frontend is up, but any user/password combination gives a 404 error.

I'm using the exact same settings dwan159 posted. The documentation on this is scarse at best... should I be using a user from an integrated LDAP or the admin tool to log in?

[2019-02-27 03:22] dwang159 commented on #460
You can use either. The admin tool is likely easier to set up than LDAP. We suggest demo/demo since the dummy data includes the demo user by default. Check the user table in the DB, and use any username that appears there.

[2019-03-20 10:41] Promzor opened #499 "Sending mail using Gmail returns error failed to connect to smtp"
when entering credentials in the ./config/config.dev.yaml file for the iris_smtp
once firing up the sender and creating an incident, the output received is:

`File "/home/user1/iris/src/iris/vendors/iris_smtp.py", line 148, in send_email
    raise Exception('Failed to get smtp connection.')
Exception: Failed to get smtp connection.
`

Example yaml file
- type: iris_smtp
  name: email
  smtp_server

[2019-03-21 11:40] jmatsushita opened #500 "Push: why not push as a mode and fcm as a vendor?"
Hi there,

I've been working on a React Native based mobile app to receive push notifications from iris and allow viewing and acking open incidents. We're looking into making this app available publicly with configurable SAML and iris endpoints (for testing), and considering open sourcing it to enable push if there is demand.

When I started this some time ago (https://github.com/linkedin/iris/iss

[2019-04-22 06:06] adityavijjanT commented on #499
remove smtp_gateway and try.

[2019-04-29 23:51] Linearhero opened #516 "Make Iris vendor agnostic, but more modular"
Currently there are a handful of vendor modules included in the project and each one is referred to by name (See multiple instances of "Slack" throughout the Oncall / Iris tools). I've already began work on removing all instances of "Slack" from the tools, instead replacing the references with "Chat" (The Teams 'Slack Channel' is now 'Chat Override', this can be the teams slack channel, MS Teams W

[2019-05-07 22:24] diegocepedaw commented on #500
Hi @jmatsushita ,

Apologies for the long delay in answering this issue. We actually have an Iris mobile app that we use internally at LinkedIn that we are getting ready to open source very soon. Among many other things, this change will add support for push notifications. Hopefully you won't have to wait much longer for these changes :)

Regards,
Diego

[2019-05-08 07:09] adityavijjanT opened #519 "Grafana webhook"
I have configured grafana webhook and incidents are creating on iris but iris not able to send email/slack alerts for these incidents, below are error from sender.

2019-05-08 07:05:36,483 INFO iris.sender.cache refreshed target reprioritization                                                                                                              rules: 0
2019-05-08 07:05:36,724 INFO iris.se

[2019-05-09 19:03] dwang159 opened #520 "Iris mobile app"
We're excited to announce the release of an open-source mobile client for Iris! The repository for this is located at https://github.com/linkedin/iris-mobile . If you have any questions related to mobile, please open issues at this repo.

Happy on-calls,
Iris team

[2019-07-29 17:17] alexw19 commented on #473
Curious if this issue was resolved as I'm having the same problem.

[2019-07-30 04:02] adityavijjanT commented on #473
yes this is resolved. i have sync users from oncall instead of ldap.

ldap --> oncall --> iris

https://iris.claims/docs/installation.html#integrating-iris-and-oncall

make sure your oncall api key and application are correctly configured in iris config file.

[2019-09-06 13:57] bramhaiah-abburi opened #542 "Issue in claiming incident"
I am trying to claim the incident with API. I am getting 200 success status but the incident is not claiming(escalation process not stoping).

[2019-09-27 15:45] TomMir commented on #473
After you have edited the config, what command do you run and from where?

[2019-11-18 12:54] dpkkumar01 opened #546 "Handling User busy conditions"
I have configured plan which has two steps.

**Plan Details:**
In step1, I have scheduled the call for two persons ( Retry-2).
In step2, I have scheduled the call for one  persons (Retry -2).

In step1, When both persons are busy (In other call), I need to skip the step1 immediately without doing any retry and go for step2 escalation.

This will avoid unnecessary delay and save my time on this spe

[2019-11-27 17:15] lazzurs commented on #306
Yea cert is now good. Should have closed this sooner.

[2019-11-27 17:15] #306 closed

[2019-12-17 10:02] RamjiVE opened #556 "Need good documentation for integrating with Iris relay with twilio configuration"

[2020-01-02 12:57] #556 closed

[2020-01-07 04:32] webermanish commented on #255
Is Iris fully functional for python 3.x ?

[2020-01-07 04:58] diegocepedaw commented on #255
@webermanish the [py3 branch](https://github.com/linkedin/iris/tree/py3) is fully python 3 and is in fact the branch we are currently developing on. We hadn't merged it with the main branch because it breaks python 2 compatibility but we will probably do so soon.

[2020-01-07 04:58] #255 closed

[2020-01-07 06:14] webermanish commented on #255
@diegocepedaw does that mean py3 branch code is stable and can be used in production.

[2020-01-07 06:16] diegocepedaw commented on #255
@webermanish, yes, that version is what we currently use in production.

[2020-02-14 12:49] webermanish opened #566 "Wait time in notifications not working"
Even after setting wait time for different user roles in the escalation plan in same step, notifications went out at the same time.

[2020-03-16 15:54] dsanader opened #569 "Internal errors if ujson >= 2.x"
The same kind of errors are triggered in `api.py` on a new install when you click on menu buttons (Plans, Templates...), the root exception is :

[code]
Downgrading to usjon==1.35 helps.

Guess the generic serialization removal in [2.0.0](https://github.com/ultrajson/ultrajson/releases/tag/2.0.0) hurts.

[2020-03-23 16:50] diegocepedaw commented on #569
Fixed in #[571](https://github.com/linkedin/iris/pull/571)

[2020-03-23 16:50] #569 closed

[2020-03-23 16:57] diegocepedaw commented on #566
@webermanish this is intended, a plan step length is determined by the shortest notification block in that step. I would suggest adding more steps to get the behavior you are looking for.

[2020-03-23 16:57] #566 closed

[2020-03-27 21:08] prestonvanloon opened #573 "Docker build instructions do not work"
Followed instructions here https://github.com/linkedin/iris/tree/master/ops/packer

[code]

[2020-04-23 07:35] liuzhen opened #577 "How to use multiple iris_smtp vendors?"
If we want to differentiate iris_smtp vendors by the smtp "From", can we add multiple iris_smtp configs? Are different vendor names referenced by "mode" names?

[2020-04-23 17:44] diegocepedaw commented on #577
@liuzhen are you just trying to have different "From" addresses in the mail Iris generates or actually send mail through several different MTAs?

[2020-04-24 01:23] liuzhen commented on #577
I wanted different "From" addresses (to apply mail rules, since not all mail rules could be applied to mail subject).

[2020-04-24 02:20] diegocepedaw commented on #577
Each individual Iris application can define their own "From" address in the application's page. It can be done through the UI.

[2020-04-24 02:43] liuzhen commented on #577
I don't see any related configurations for that. I am using the version date back to early last year, is it a relatively new feature?

I see following sections in application editing page:
[code]

Any doc for this feature?

[2020-07-08 21:36] jgoldrich opened #583 "Claiming incidents via text"
Is there a way to claim an incident via respond to the text message? I've tried replying with `2`, `claim`, `claim_all`, and `batch_claim` and none of those worked.

Thanks!
Jake

[2020-07-14 22:16] diegocepedaw commented on #583
Yes you can claim via SMS, you have to respond with "$INCIDENT_ID claim" to claim the incident

[2020-07-14 22:23] jgoldrich commented on #583
@diegocepedaw the text I get just has the message id which is different than the claim id. nevertheless, `$INCIDENT_ID claim` and `$MESSAGE_ID claim` both didn't seem to work for me

[2020-08-03 14:50] lukepeeler commented on #583
Bump for the above -- this would be super helpful for our workflow

[2020-09-16 23:53] jrgp commented on #583
You can also reply with `claim all` to claim all active incidents which you received messages for

[2020-09-17 00:04] jgoldrich commented on #583
this didn't work for me. any other ideas?

[2020-10-08 13:59] v94401 opened #592 "Error when try to make iris locally."
Hi All,

We encounter following error when try to test iris locally:

`____________________________________________________________________________________ ERROR collecting test/test_irisapi.py _____________________________________________________________________________________
ImportError while importing test module '/Users/i505939/Projects/iris/test/test_irisapi.py'.
Hint: make sure your test m

[2020-10-08 19:21] sandipb commented on #592
Hi, Iris has been on Python3 only since last year as 2.7 is now EOL-ed. You would need to use Python3 in your docker image for this app.

[2020-10-09 07:17] v94401 commented on #592
Hi, We are using py3 branch of Iris, but still we get errors during build. Do we need to adapt something or it is adapted in this branch(py3).

Regards
Valentin

[2020-10-09 22:37] sandipb commented on #592
I think the master is already on python3? Can you switch to the master and show the exact problem? Because the snippet you showed earlier, i.e.

[code]
Is definitely a "Python 3 code being run in Python 2" problem (`parse_qs` was moved from `urllib` to `urllib.parse` in Python 3)

[2020-10-19 11:58] v94401 commented on #592
Hello,

We have tested with master, unfortunately we couldn't build a container. We've checkout "py3" and with it we managed to build a container, but when we try to start it, this is the output:

`/bin/sh: 0: Can't open sudo`

We managed to adapt iris.yaml file to use python3 for virtualenv and pip3:

`  - type: "shell"
 91     inline:
 92       - 'sudo apt-get -y install curl python3-dev python3

[2020-12-07 11:55] lukdz commented on #573
I have different problem during building of docker image using Packer:
[code]
Steps to reproduce:
[code]
Problem start at commit `65c45891976ecaf61773d2e695a86524ed7b8e2e`

[2020-12-07 12:22] adamszmajdzinski commented on #573
I was able to fix problem above by hard coding ```long_description```. Also I had to downgrade setuptools to 44.1.1.

In my case image is built but container fails with ```/bin/sh: 0: Can't open sudo```. However, I can log into, run ```sudo -EHu iris bash -c "source /home/iris/env/bin/activate && python /home/iris/entrypoint.py"``` and it seems to work.

I followed instructions from here https://g

[2020-12-07 12:44] lukdz commented on #592
Did you mange to fix this issue?
After help with fixing missing README.md, I'm stuck with same error: https://github.com/linkedin/iris/issues/573#issuecomment-739885242.

[2021-02-08 19:19] comnam90 opened #601 "Enhancement: Add Apprise support as a vendor"
Hey guys,

This looks awesome, but it would be great if you included support for [Apprise](https://github.com/caronc/apprise) as a notification vendor
This would add out of the box support for many many more providers like Teams, twitter, telegram, etc.

Apprise has python libraries for easy integration
[code]

[2021-02-26 02:31] mhaddon commented on #592
With the context of the repository root, use this dockerfile:
[code]

Gets further, but does not quite work still. I get ascii ordinal errors when trying to build the ui.

[2021-03-02 14:58] pavanfhw opened #604 "Latest docker image"

[2021-03-02 19:04] diegocepedaw commented on #604
I'll try to take a look at the docker build this week. It's not something we use internally so our support for it hasn't been all it should be. I imagine the reason for the issues might be due to problems between UWSGI and Gevent==1.5.0 [issue](https://github.com/gevent/gevent/issues/1556). For our production deployment which uses UWSGI, we saw issues before we pinned gevent back down to 1.4.0. I

[2021-03-02 19:16] pavanfhw opened #605 "Allow all origins"
I tried setting
[code]

But I'm still getting the message `Aborting response due to origin not allowed`. What is the correct way?

[2021-03-04 12:28] pavanfhw commented on #604
@diegocepedaw that would be very helpful. It would be very good to have the latest image. Thank you

[2021-03-04 13:55] pavanfhw commented on #479
@liuzhen thank you for posting the solution. It saved me some time.

[2021-05-10 20:15] tehpopes commented on #604
Wanted to also comment on this issue because I've been having issues getting the latest docker image for iris to run properly with mysql.

In order to get the latest docker image to build without errors I had to make changes to the packages installed through apt to ensure they all support python3. According to the following link, uwsgi-plugin-gevent-python 3 is only available for Ubuntu 20.04 (foc

[2021-07-02 16:00] allwyn-pradip opened #622 "Unique key identifier - for iris incident id"
we have multiple app making calls, it would be great if I can send it unique custom value for each call with which I can connect the application to the call and the iris incident created, and the customs value can be retrieved via the API.

[2021-07-20 20:20] diegocepedaw commented on #622
You can already retrieve Incidents based on the application that created them. Can you elaborate a bit on the use case for this custom identifier?

[2021-07-24 22:10] AllwynPradip commented on #622
We have multiple ticketing tools that create an incident in iris via webhook.. Would want to track which ticket created the incident and triggered the call flow and also update the incident flow back to the ticketing tool. So having  a custom identifier in this case my ticketing tool number would help for my use case.

[2021-08-11 16:11] allwyn-pradip commented on #622
@diegocepedaw -- any update on this request..

[2021-08-11 16:45] diegocepedaw commented on #622
@allwyn-pradip, unfortunately due to the backlog of Iris tasks as well as the work on a major rewrite of the sender I don't think we will be able to get to this any time soon. You are welcome to submit a working PR with tests if you'd like and we'd be happy to review it.

[2021-08-17 20:09] allwyn-pradip opened #633 "Attribute error when starting up the appliation"
The application throws the error when it get started

/home/iris# tail -f var/log/uwsgi/error.log
Traceback (most recent call last):
  File "/home/iris/env/lib/python3.8/site-packages/beaker/middleware.py", line 156, in __call__
    return self.wrap_app(environ, session_start_response)
  File "/home/iris/env/lib/python3.8/site-packages/falcon/api.py", line 242, in __call__
    process_resource(req

[2021-08-18 21:10] diegocepedaw commented on #633
should be addressed by #634

[2021-08-18 21:10] #633 closed

[2021-09-10 11:48] baryluk commented on #573
Same problem here. The packer configs use very old Ubuntu too, 16:04, and most of the python scripts use `#!/usr/bin/env python` instead of `#!/usr/bin/env python3`, which causes a lot of issues.

[2021-09-10 20:47] allwyn-pradip commented on #604
try with mysql 5.5 version.. downgrading works.

[2021-10-19 22:16] allwyn-pradip opened #644 "iris Plan issue"
with the new images, new or existing plans do not get saved.

the error pops up as

Error: Invalid plan - Priority not found for step 1

even when the priority are setup

![image](https://user-images.githubusercontent.com/56670753/137998096-37ba4e28-fd08-4976-ad58-0edabfd9bead.png)

[2021-11-03 20:29] baryluk commented on #482
I would chime in. While we do not use oncall, I think it would make sense to run them together, as this simplifies deployment massively.

Also right now some scripts, like `iris-sync-targets`, really do not work without oncall available.

[2021-11-03 20:32] baryluk opened #647 "LDAP user sync"
Right now iris-sync-targets only supports syncing mailing lists / groups from LDAP.

For many use cases, it does not make sense to use oncall, and instead use LDAP for users. This is so it is easy to setup target user, or for iris-relay to know about the user (i.e. from slack).

I would like to work on this, for our setup (we do not use oncall at the moment, because we instead route alerts to vari

[2021-11-03 20:39] baryluk commented on #573
I have a bunch of enhancements to documentation and `Dockerfile` and  packer setup, that should resolve this. This also updates to python3 , newer ubuntu, and improves the entrypoint mechanism.

[2021-11-03 20:43] baryluk opened #648 "Add global setting to not filter default Incident list by owner"
We are small company, and for visibility it is usually best to show all incidents when showing incidents, instead of only ones targets at logged individual.

Also we often use shared slack channels. So the incident goes to a slack channel, not a person, so the target does not match the person that owns it either.

I think it might be beneficial to show all active unresolved accident, without any t

[2021-11-03 20:44] baryluk commented on #269
I will grab this. ATM there are only two auth providers. The configuration is simple, but requires right now digging into code to know the format of configuration for them. It should be easy to update the config.dev.yaml to show it (commented).

[2021-11-04 10:45] mighq commented on #604
See https://github.com/linkedin/iris/issues/573 issue, which seems to be related/duplicate and is more alive.

[2021-11-04 10:45] mighq commented on #592
See https://github.com/linkedin/iris/issues/573 issue, which seems to be related/duplicate and is more alive.

[2021-11-04 10:48] mighq commented on #573
@baryluk I haven't seen your work in your fork so far and had to move on with the Docker image myself.
Sent a PR for it, https://github.com/linkedin/iris/pull/649.

I guess we can consolidate, split the changes afterwards.

[2021-11-04 10:51] mighq commented on #573
This is solved by clearing ENTRYPOINT directive for the image. See my PR.

[2021-11-04 12:09] mighq commented on #573
It depends on what is your preferred distribution channel and wider context of deployments you want to support. If you limit yourself to Docker and fill the image/OS with just python v3, you don't need to explicitly say python3 in hash-bang declarations. I did that in my PR.

[2021-11-04 14:51] mighq commented on #573
I also found that lot of work has been done in https://github.com/allwyn-pradip/iris/tree/fw-iris.

[2021-11-08 13:23] allwyn-pradip commented on #644
@diegocepedaw any update what is causing this issue.

[2021-11-08 19:37] diegocepedaw commented on #644
@allwyn-pradip unfortunately I have not had much bandwidth recently to look at community issues lately. Do you remember which release version this issue was introduced in?

[2021-11-08 21:15] allwyn-pradip commented on #644
@diegocepedaw I am at the latest version 1.36 testing it for python3

[2021-11-10 10:02] vaithiyanath opened #652 "Getting 404 while try to post an incident"
Hi Team,

While try to create an incident getting 404 can anyone please help on this

<head><title>404 Not Found</title></head>
<body>
<center><h1>404 Not Found</h1></center>
<hr><center>nginx/1.18.0 (Ubuntu)</center>
</body>
</html>

[2021-11-10 18:22] diegocepedaw commented on #644
@allwyn-pradip what do you get if you run `SELECT `name`, `id` FROM target_type` in your mysql? That error you linked means Iris didn't find the type user in its cache, and the cache should be pulling the types from the database.

[2021-11-10 18:27] diegocepedaw commented on #652
Can you give us more details on his issue? What endpoint are you using to create incidents, is the rest of Iris working correctly, etc? The incident creation endpoint can return a 404 if the plan doesn't exist so check that is correct (though it should also return a plan not found message if that in the case).

[2021-11-11 04:20] vaithiyanath commented on #652
https://irisstg.*****.com/v0/webhooks/webhook?application=ping-alerts&key=6a2778676846a1ac53d8d370548a360df0d9f019b67232d6ba482d8eaa64675c&plan=ping-alert-template
This is the endpoint that am trying to hit

[2021-11-11 05:55] diegocepedaw commented on #652
did you enable webhooks in your config?
you need to define it in the yaml like:
webhooks:
  - alertmanager

or in your case since you are using a webhook endpoint of name "webhook"
webhooks:
  - webhook

[2021-11-12 13:59] vaithiyanath commented on #652
Yes i have added those on my config file

[2021-11-16 08:30] JTS911 opened #654 "Invalid incident"
Hi All

I get the following error when testing a **new** group, from API post.
The group has a primary user on standby.

"title": "Invalid incident",
    "description": "invalid role oncall-primary for target Z_JDGROUP
![JD](https://user-images.githubusercontent.com/46618158/141948878-dad27b68-7934-4987-b240-ddf59a140927.png)
"

/opt/iris/src/iris/api.py
========================= This is the code

[2021-11-16 10:36] JTS911 opened #655 "IRIS ldap not working"
Hi All

We changed companies and I had to change the ldap integration from old AD to new AD. I changed the following files and configs

/opt/oncall/configs/config.yaml
  ldap_url: 'ldap://<correct IP>'
  ldap_user_suffix: ''
  ldap_bind_user: 'XXXXX'
  ldap_bind_password: 'XXXX'
  ldap_base_dn: 'XXXXX'
  ldap_search_filter: '(sAMAccountName=%s)'

ldap_sync:
  url: 'ldap://<correct IP>'

/opt/iris/

[2021-11-16 15:43] baryluk commented on #655
I would suggest putting explicit port number int he ldap_url. for example `ldap://foo.example.com:389/`
   (same with ldaps and 636).

This solved some issues for me in the past.

[2021-11-17 08:14] JTS911 commented on #655
Thanks for the suggestion, it did not do the trick

[2021-11-19 08:00] JTS911 commented on #655
It was yaml malformed file

[2021-11-19 08:00] #655 closed

[2021-12-03 06:38] Irishgrizz opened #659 "> Hello! How to connect AVAX to METAMASK?"
@> Hello! How to connect AVAX to METAMASK?

__Originally posted by @Irishgrizz in https://github.com/ethereum-lists/chains/issues/512#issuecomment-985254596__

[2021-12-03 10:11] Irishgrizz commented on #659
I hope this helped if you need any else let me know

[2021-12-04 13:27] #659 closed

[2021-12-05 01:16] Irishgrizz commented on #659
Who the fuck is this I don't even have a liken account

[2022-01-15 23:56] Irishgrizz opened #666 "I wish I knew what you guys are talking about"
I wish I knew what you guys are talking about

__Originally posted by @Irishgrizz in https://github.com/linkedin/tracked-queue/pull/125#issuecomment-1008215968__

[2022-01-26 00:25] #666 closed

[2022-02-07 23:33] mohammad-sajid commented on #644
@diegocepedaw  the output for the query is fine.
MySQL [iris]> SELECT name, id FROM target_type;
+--------------+----+
| name         | id |
+--------------+----+
| mailing-list |  3 |
| team         |  2 |
| user         |  1 |
+--------------+----+

Also facing the issue Error: Invalid plan - Target NOC-Team not found for step 1.
But we have this team created at oncall DB.
what will be the reaso

[2022-02-08 00:55] diegocepedaw commented on #644
Is the sync targets script running and correctly able to git oncall-api?

[2022-02-08 08:58] mohammad-sajid commented on #644
@diegocepedaw  what is the sync target script?
where can I find that oncall-api ?
could you please help here.

[2022-02-08 11:31] mohammad-sajid commented on #644
@diegocepedaw  i saw there is one sync_target.py code is available in srs/iris/bin. executed manually and getting below error. could you please help here.

2022-02-08 11:26:10,489 ERROR root Error syncing from oncall!
Traceback (most recent call last):
  File "sync_targets.py", line 786, in main
    sync_from_oncall(config, engine)
  File "sync_targets.py", line 174, in sync_from_oncall
    oncall

[2022-02-08 17:55] diegocepedaw commented on #644
@mohammad-sajid the sync_targets.py script is what syncs teams and users from oncall-api, you will need this running if you want to automatically have oncal-api teams become available as targets in Iris. If you are running it locally with the make file you should be able to run `make targets`. Looking out your output it seems that the contact field of the users that are coming from oncall-api do n

[2022-02-09 10:23] mohammad-sajid commented on #644
Thanks, @diegocepedaw . after verifying user_contact table now am able to sync between the iris and oncall app.

Thanks for your support @diegocepedaw

[2022-02-09 21:29] #644 closed

[2022-02-13 16:05] mohammad-sajid opened #669 "Error while sending message or call to target"
While sending a call r message to target am getting the below error.
As verified in the target table the details were there and the mode was also proper for that target. but still getting the error.

2022-02-14 11:47:58,074 ERROR iris.sender.shared failed modifying nonexistent metric: ‘plivocall_cnt’
Traceback (most recent call last):
 File “sender.py”, line 1292, in fetch_and_send_message
   succ

[2022-02-16 01:35] mohammad-sajid commented on #669
@diegocepedaw  Yes it's there in the applications and also in DB.
![image](https://user-images.githubusercontent.com/57441817/154179430-619d630e-ed7b-40a2-b13c-620f855a4ec5.png)

[2022-02-19 01:55] Irishgrizz opened #670 "Hello! How to connect AVAX to METAMASK?"
Hello! How to connect AVAX to METAMASK?

__Originally posted by @Bumblebee9999 in https://github.com/ethereum-lists/chains/issues/512#issuecomment-950330951__

[2022-02-19 01:56] Irishgrizz commented on #670
Bye-bye now bumblebee fucking Trash

[2022-02-22 17:08] diegocepedaw commented on #670
This is the github page for Iris, closing since this is unrelated

[2022-02-22 17:08] #670 closed

[2022-03-04 06:32] allwyn-pradip opened #680 "no python application found -- error"
Hi @diegocepedaw

[code]

can you assist with how this can be corrected?

the below is the start up log which has no error

[code]

[2022-03-14 09:00] allwyn-pradip commented on #680
fixed with https://github.com/linkedin/iris/pull/684

[2022-03-14 09:00] #680 closed

[2022-03-15 07:03] mohammad-sajid commented on #669
@diegocepedaw  getting **You are receiving this as you created this plan and we can’t resolve oncall-primary of NOC-Team at this time.** error.

Also, i can see in body priority passing as low while testing it from Plan directly.

can you please help here?

{‘body’: “You are receiving this as you created this plan and we can’t resolve oncall-primary of NOC-Team at this time.\n\n”, ‘message_id’: 50

[2022-03-18 14:01] roock opened #686 "Unable to publish new (or existing) Plan"
I'm currently trying to setup iris, but I'm ending up with an error while adding a new plan or saving an existing plan after installatio. I tried with latest master as well as with latest released version.

![Screenshot 2022-03-18 at 14 47 37](https://user-images.githubusercontent.com/533172/159015379-21ade2bf-1a96-42ef-a2e7-a786538d33d9.png)

Easiest steps to reproduce:
- Use the code from #684 t

[2022-03-23 16:15] allwyn-pradip commented on #686
@diegocepedaw would you be able to assist.. even after syncing the target and being succesful /v0/tartget/user gives {"title":"Target type user not found"}, and the data is available on the mysql database in table target.

[2022-03-25 07:22] allwyn-pradip commented on #686
This would fix the issue https://github.com/linkedin/iris/pull/690

[2022-03-28 07:04] khatryshikha opened #692 "Additional Functionality: To introduce a DAO layer to leverage Iris functionality with different Databases."
Hello Team,

I would like to suggest an additional functionality to provide more scalability and flexibility to Iris functionality by introducing an additional layer that can change MySQL queries to different languages or syntax.

[2022-04-05 16:25] bla-ckbox commented on #644
I still encounter the issues discussed above when testing with the **master** branch commit Version https://github.com/linkedin/iris/commit/500822ac5d757884246c95145d6a89531c503f81

- `Error: Invalid plan - Priority not found for step 1` when saving plan
- Error 400 `Target type user not found` on /v0/targets/user

_sync_targets.py_ seems to be running fine:
[code]

_target_type_, _target_, and _p

[2022-04-05 16:39] bla-ckbox opened #699 "Create Plan Fail"
I still encounter issues below when testing with the **master** branch commit https://github.com/linkedin/iris/commit/500822ac5d757884246c95145d6a89531c503f81

- `Error: Invalid plan - Priority not found for step 1` when saving plan
- Error 400 `Target type user not found` on /v0/targets/user

_sync_targets.py_ seems to be running fine:
[code]

_target_type_, _target_, and _priority_ are not empty

[2022-04-07 14:40] roock commented on #699
Probably a duplicate of #686

[2022-04-10 22:19] bilbof opened #702 "Configuration as code"
Hi folks, thank you for implementing and open-sourcing Iris.

Is there an existing project/guidance for configuring Iris resources (e.g. plans, applications) in code? I'm considering writing a [Kubernetes Operator](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/) for Iris, but it would be great if this already existed.

Btw, I originally sent this as an email to iris-oncall@linkedi

[2022-04-11 14:00] bilbof commented on #699
@bla-ckbox This should be fixed now

[2022-04-12 21:54] bilbof opened #704 "Feature request: Extract fields from AlertManager labels into top level context"
Hey folks, I'm liking Iris so far. I'd like to check receptiveness to this change - I'm happy to put up a PR for this, as it would help us.

### Problem

The AlertManager integration doesn't currently support the "override incident title" and "plan dynamic targets" features.

AlertManager sends a payload in this (slightly redacted) format:

[code]

Since the `groupLabels.iris_plan` is set to an ex

[2022-04-13 16:31] bilbof commented on #460
I hit the same issue. The problem I had was revealed by the nginx and uwsgi logs in the iris container. If you look at `cat var/log/{nginx,uwsgi}/*.log` during the login you'll see the problem. In my case it was uwsgi workers silently segfaulting (and nginx returning a 404 since a uwsgi worker prematurely closed the connection), which was caused by a dependency mismatch: bumping greenlet to a comp

[2022-04-19 16:13] roock opened #710 "Status of Container Images"
I'd like to raise a few questions around the current container images of Iris:
- Currently there are two `Dockerfile`s, one in the root directory and one in the `ops/Docker` directory. The second one isn't maintained anymore and should be removed, or?
  - Bonus Questions: The `ops/packer`, `ops/terraform` and `ops/charts` are also outdated and don't seem to be maintained. Should those go away, too

[2022-04-20 13:28] allwyn-pradip commented on #669
@mohammad-sajid pls close this as the issue is resolved using #690

[2022-04-20 13:43] diegocepedaw commented on #710
Hi @roock, the overarching answer to all these questions is that we don't run Iris with containers internally which when combined with the laundry list of other products and projects our team is working on has meant that we have not been able to give the necessary extra attention to keep the Docker builds updated with new releases. While we're probably not going to be able to put more dedicated re

[2022-04-20 13:44] #669 closed

[2022-04-26 20:50] grimmeanor opened #713 "Error during make on Quickstart setup"
I have made it with zero issues through all of the Quickstart setup steps to the point of running make in the local iris project directory where the make fails with the following error:

(venv) chris@litterbox:~/Projects/iris$ make
iris-dev ./configs/config.dev.yaml
[2022-04-26 15:31:42 -0500] [55669] [INFO] Starting gunicorn 20.1.0
[2022-04-26 15:31:42 -0500] [55669] [INFO] Listening at: http://0

[2022-05-09 09:18] bla-ckbox opened #716 "IRIS ldap not working"
Hi,

My goal is to enable LDAP authentication for Iris.

I'm using Iris in a Docker container built from Master branch (Commits on Apr 11, 2022: 6a8a70b1a377636dacdd580e2ba226880be2d79a).

Users are already created in Oncall, LDAP authentication works in Oncall, and user synchronization from oncal to iris is also functional.

I added to the Iris configuration an _Auth_ section very similar to what

[2022-05-09 09:55] bla-ckbox commented on #716
EDIT

I have find the stacktrace bellow:
[code]

I deduce that I am missing the 'module' key in the auth section, that said I do not know what to put as value...

[2022-05-09 15:21] bla-ckbox commented on #716
Many thanks @roock

It's  `module: 'iris.ui.auth.ldap'`  like the ldap.py path... compared to oncall I made the mistake of leaving `.modules.`

Issue can be closed

[2022-05-09 15:33] bla-ckbox commented on #716
I probably spoke too quickly, something else I don't understand...

Log says: `[13] [INFO] iris.ui Successful login for myusername` but the form redirect (http 302) on error: `location: /login/?next=%2Fincidents` without further details

![login-fail-1](https://user-images.githubusercontent.com/2076045/167444494-5f01986b-c171-40ee-95b1-dfa79ce88d21.png)
![login-fail-2](https://user-images.githubus

[2022-05-10 00:59] jrgp commented on #716
I suspect this is due to you hitting iris over HTTP (not HTTPS) which causes the login cookie to not be accepted by your browser.

You could try setting the following within your config, to configure Iris's usage of Beaker to not set the "secure" attribute on the auth cookie, which is what makes it require HTTPS.

[code]

However, I highly suggest you interact with Iris via HTTPS instead of cleart

[2022-05-10 12:51] bla-ckbox commented on #716
Many thanks @jrgp  it was linked to https now that I added SSL it's good

[2022-06-13 13:46] roock opened #723 "Applications are not properly loaded when using uwsgi"
When running iris in combination with uwsgi (e.g with the container image), the applications are not properly loaded at startup, leading to 401 errrors when using the webhooks api. Once the applications are fully loaded (e.g. by open iris ui with a web browser), the authentication error goes away without modifying the api call.

Steps to reproduce:
- clone the master branch of the repo
- `docker-c